<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.4/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
>

    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="memory_limit" value="-1" />
    </php>

    <filter>
        <whitelist>
            <directory>src/Component</directory>
            <directory>src/Platform</directory>
            <exclude>
                <directory>src/Platform/Infrastructure</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="unit">
            <directory>tests/Platform/**/Unit</directory>
            <directory>tests/Component/**/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>